<h1>All Kittens</h1>
<%= link_to 'Create new Kitten', new_kitten_path %>
<% @kittens.each do |kitten| %>
  <div class="kitten">
    <h2><%= link_to kitten.name, kitten_path(kitten) %></h2>
    <p><%= kitten.age %> years old</p>
    <p><%= kitten.cuteness %> cuteness</p>
    <p><%= kitten.softness %> softness</p>
  </div>

  <% end %>